a.wpcom-follow-rest,
a.wpcom-following-rest{margin-left:-2px;}a.wpcom-follow-rest:before,
a.wpcom-following-rest:before{font:16px/1 "Noticons";-webkit-font-smoothing:antialiased;content:'\f801';color:#7bc8e4;position:relative;top:3px;display:inline-block;}a.wpcom-following-rest:before{content:'\f803';}a.wpcom-following-rest:hover:before{content:'\f802';}